{
    "extends": [
        "@neos-project/eslint-config-neos",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "globals": {
        "expect": true,
        "sinon": false
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/semi": ["error"],
        "@typescript-eslint/explicit-function-return-type": 0,
        "comma-dangle": 0,
        "semi": 0,
        "no-alert": 0,
        "no-await-in-loop": 0,
        "react/jsx-indent-props": [2, "first"],
        "prettier/prettier": ["error", {
            "semi": true,
            "trailingComma": "all",
            "singleQuote": true,
            "printWidth": 120,
            "tabWidth": 4
        }]
    }
}
