.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
/.cache

# Test specific ignores
/screenshots

# Project specific ignores
packages/*/dist
/parcel-bundle-reports
*.d.ts
!global.d.ts
